*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    min-width: 400px;
}


.price-text{
text-align: center;
}
.price-text h3{
    font-size: 16px;
line-height: 50px;
color: #fe00c5;
font-weight: 800;
font-family: 'Exo', sans-serif;
}
.price-heading{
padding: 2%;

}
.price-text h2{
    font-size: 36px;
line-height: 48px;
color: #081245;
font-weight: 900;
font-family: 'Exo', sans-serif;
text-align: center;
}
.span-colors>span{
    width: 5px;
    height: 5px;
    display: block;
    margin: 2.5px;
}
.orange-span{
background-color: #ff4200;
}
.pink-span{
    background-color: #fe00c5;
}
.blue-span{
    background-color: #001376;
}
.yellow-span{
    width: 30px !important;
    background-color: #ffba00;
}
.prices-blocks{
    display: flex;
    justify-content: center;
    gap: 47px;
}
.block1{
    width: 350px;
height: auto;
filter: drop-shadow(0px -8px 19px rgba(0,0,0,0.13));
background-image: linear-gradient(59deg
, #FAFAFA 0%,#FAFAFA 50%, #FFFFFF 50%);
    box-shadow: 7.35px 7px 23px 24px #00000010;
    
}
.block2{
    width: 350px;
height: auto;
background-image: linear-gradient(0deg, #081245 0%, #001376 100%);
position: relative;
}
.block2::after{
    content:"";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(59deg, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.05) 50%, transparent 50%);

}


ul {
    list-style: none;
  }
  li{
      margin-bottom: 15px;
  }
  ul li:before {
    content: '✓';
  }
  .ticket-btn{
    width: 150px;
    height: 50px;
    background-color: #001376;
    font-size: 16px;
line-height: 36px;
color: #ffffff;
font-weight: 600;
font-family: 'Archivo', sans-serif;
border: none;
position: relative;
  }

  .block2-content{
    width: 235px;
    margin:auto;
    padding: 55px 0;
    
}

.block2-content h5{
    font-size: 16px;
    line-height: 36px;
    color: #ffc200;
    font-weight: 600;
    font-family: 'Archivo', sans-serif;
    margin-bottom: 16px;
}
.block2-content h3{
    font-size: 30px;
line-height: 36px;
color: #ffffff;
font-weight: 700;
font-family: 'Archivo', sans-serif;
}
.block2-content p{
    font-size: 72px;
    line-height: 1.2;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Archivo', sans-serif;
    margin-top: 42px;
    position: relative;
    padding-left: 20px;
}
.block2-content p span{
    font-size: 24px;
line-height: 36px;
color: #ffba00;
}
.block2-content p span:nth-of-type(1){
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}
.block2-content p span:nth-of-type(2){
    left:-15px;
        position: relative;
}
.block2-content h6{
    font-size: 16px;
    line-height: 36px;
    color: #ff7f1a;
    font-weight: 500;
    font-family: 'Archivo', sans-serif;
    text-align: center;
}
.ticket-btn2{  
    width: 150px;
height: 50px;
background-image: linear-gradient(-90deg, #ff6c00 0%, #ffc600 100%);
font-size: 16px;
line-height: 36px;
color: #ffffff;
font-weight: 600;
font-family: 'Archivo', sans-serif;
border: none;
position: relative;
}

.ticket-btn:after,
.ticket-btn2:after{
content:"";
display: block;
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
background-image: linear-gradient(18deg, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.05) 50%, transparent 50%);

}
.ul-buisnessplan{
    color: white;

}

.block1-content{
    width: 235px;
    margin:auto;
    padding: 55px 0;
}
.block1-content h5{
    font-size: 16px;
    line-height: 36px;
    color: #ffc200;
    font-weight: 600;
    font-family: 'Archivo', sans-serif;
    margin-bottom: 16px;
}
.block1-content h3{
    font-size: 30px;
line-height: 36px;
color: #01136d;
font-weight: 700;
font-family: 'Archivo', sans-serif;
}
.block1-content p{
    font-size: 72px;
    line-height: 1.2;
    color: #ff4200;
    font-weight: bold;
    font-family: 'Archivo', sans-serif;
    margin-top: 42px;
    position: relative;
    padding-left: 20px;
}
.block1-content p span{
    font-size: 24px;
line-height: 36px;
color: #ffba00;
}
.block1-content p span:nth-of-type(1){
    position: absolute;
    top: 0;
    left: 0;
}
.block1-content p span:nth-of-type(2){
    left:-15px;
        position: relative;
}
.block1-content h6{
    font-size: 16px;
    line-height: 36px;
    color: #ff7f1a;
    font-weight: 500;
    font-family: 'Archivo', sans-serif;
    text-align: center;
}

@media screen and (max-width:991px) {
    .prices-blocks{
        flex-direction: column;
    }
    .prices-blocks>div{
        margin: auto;
    }
}